<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="https://sdk.yoti.com/clients/browser.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
    <title>Scout membership validation</title>
  </head>
  <body class="">
    <div style="background-color:#451C6A" class="mt4 mca ph5 pv2 cf">
      <img class="h4-ns db h3 center w100 fr-ns" src="images/logo_scouts.png"></img>

    <h1 class="tc i white ib fl-ns pa2 f1-ns  f5">Are you a good scout?</h1>
    </div>
    <div class="tc pv5">
    <span class="mv5" data-target='embed'
    data-yoti-application-id='0b9cd4fa-9a44-41cb-b78f-f3be16a3daa8'
    data-yoti-type="inline"
    data-yoti-scenario-id="7aa7dd7f-c73c-4384-8af7-14906d71a5f2"
    data-size="large"
    >Sign up with Yoti</span>
  </div>
    <script>
	    _ybg.config.service = 'https://code.yoti.com/app/'
	    _ybg.init()
	  </script>

  </body>
</html>
