body {
  font-family: 'theSerif'
}

.background-image {
  background-image: url(../images/scouts-background2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -10px;
  margin-right: -10px;
  height: 100vh;
}

.logo {
  height: 6em;
}

.sub-header {
  color: #E87D03;
}

.goodScout {
  color: #572D91;
}

a {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white
}

@font-face {
  font-family: 'theSerif';
  src: url('../fonts/theserif.otf');
}
