body {
  font-family: 'theSerif'
}

#canvas {
  margin-top: 20%;
  height: 260px;
  width: 260px;
}

#yoti-logo {
  display: none;
}

.background-image {
  background-image: url(../images/scouts-background2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.image-container {
  margin-top: 25px;
}

.goodScout {
  color: #572D91;
}

@font-face {
  font-family: 'theSerif';
  src: url('../fonts/theserif.otf');
}
